
.icon-mail-alt:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e808'; } /* '' */
.icon-info-outline:before { content: '\e800'; } /* '' */
.icon-loop-outline:before { content: '\e810'; } /* '' */
.icon-chat-inv:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-home-circled:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-cogs:before { content: '\e807'; } /* '' */
.icon-gift:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */